<% include ./partials/header %>
<div>
    <h1>Seems like you have reached a deadend...</h1>
    
    <form action="/" method="GET">
        <button>Click here to go back to the homepage!</button>
    </form>
    <a href="/">...OR CLICK HERE!</a>
</div>
<% include ./partials/footer %>
